body {
    font-family: Lato, Helvetica, Arial, sans-serif;
}

.product-image {
    height: 220px;
    /* max-width: 200px; */
    object-fit: contain;
    padding: 1rem;
}

.product-title {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}
